doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Test Summary Report
    style
      | body { font-family: Arial, sans-serif; }
      | table { width: 100%; border-collapse: collapse; margin: 20px 0; }
      | th, td { padding: 8px 12px; border: 1px solid #ddd; }
      | th { background-color: #f4f4f4; }
      | h2 { color: #333; }
      | .bold { font-weight: bold; }
      | .green-cell { background-color: #d4edda; color: #155724; font-weight: bold; } /* Green cell */
      | .red-cell { background-color: #f8d7da;; color: #721c24; font-weight: bold; } /* Red cell */
      | .total-duration { font-weight: bold; } /* Bold for total duration */
      | .failed-status { text-transform: uppercase; } /* Red color for failed status */
      | .duration-green { color: green; }
      | .duration-orange { color: orange; }
      | .duration-red { color: red; }
  body
    h2 Test Summary Report
    h3 Overall Statistics
    table
      tr
        th Total Suites
        th Total Tests
        th Total Passes
        th Total Failures
        th Total Duration (seconds)
      tr
        td.bold= stats.suites
        td.bold= stats.tests
        td.green-cell= stats.passes
        td.red-cell= stats.failures
        td.bold.total-duration= (stats.duration / 1000).toFixed(2) + ' s'

    h3 Suite Summaries
    each suite in suites
      h4= suite.title
      table
        tr
          th Total Tests
          th Total Passes
          th Total Failures
          th Total Suite Execution Time (seconds)
        tr
          td.bold= suite.tests.length
          td.green-cell= suite.passes.length
          td.red-cell= suite.failures.length
          td.bold.total-duration= (suite.duration / 1000).toFixed(2) + ' s'

      if suite.failures.length > 0
        table
          caption.bold.red Failed Test Suite: #{suite.title}
          tr
            th Test Title
            th Duration (seconds)
            th Status
            th Error Message
          each test in suite.tests
            if test.state === 'failed'
              tr
                td= test.title
                td(class=(test.duration / 1000) < 10 ? 'duration-green' : (test.duration / 1000) < 20 ? 'duration-orange' : 'duration-red')= (test.duration / 1000).toFixed(2) + ' s'
                td(class=test.state === 'failed' ? 'red-cell failed-status' : '')= test.state
                td= test.err ? test.err.message : '' 

    h3.bold
      | For more details, download the full test execution report attached below and view the report.
